# .dockerignore
.git
.gitignore
.env
.env.prod
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
env
ENV
env.bak
venv.bak

# Django
*.log
local_settings.py
db.sqlite3
media

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db